.Background {
  width: 100%;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(254%2c 126%2c 24%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c707.53C130.489%2c705.848%2c244.896%2c616.907%2c337.133%2c524.589C418.232%2c443.419%2c428.188%2c321.134%2c485.42%2c221.684C550.751%2c108.159%2c706.779%2c30.424%2c696.668%2c-100.166C686.669%2c-229.301%2c525.63%2c-284.116%2c438.815%2c-380.235C354.301%2c-473.806%2c317.95%2c-639.965%2c193.113%2c-657.683C64.215%2c-675.977%2c-23.264%2c-527.589%2c-135.584%2c-461.758C-216.503%2c-414.331%2c-305.425%2c-387.88%2c-374.841%2c-324.802C-451.511%2c-255.133%2c-520.625%2c-177.354%2c-555.799%2c-79.912C-596.298%2c32.282%2c-628.357%2c156.411%2c-589.216%2c269.086C-548.874%2c385.22%2c-441.397%2c459.961%2c-342.766%2c533.354C-237.822%2c611.444%2c-130.799%2c709.216%2c0%2c707.53' fill='%23dd6301'%3e%3c/path%3e%3cpath d='M1440 924.704C1520.735 924.895 1600.18 953.2090000000001 1677.256 929.178 1768.874 900.613 1876.438 864.797 1914.587 776.737 1952.7649999999999 688.611 1888.2269999999999 591.921 1863.574 499.099 1841.938 417.639 1829.888 333.442 1779.003 266.252 1725.981 196.24099999999999 1653.669 143.35000000000002 1571.228 113.07999999999998 1485.076 81.447 1388.709 60.149 1302.3600000000001 91.24099999999999 1217.566 121.77300000000002 1176.507 212.579 1114.161 277.659 1047.848 346.88 940.7909999999999 391.423 924.323 485.85699999999997 907.85 580.317 981.284 665.032 1032.468 746.114 1077.813 817.948 1125.658 893.962 1203.464 928.058 1277.179 960.3620000000001 1359.517 924.514 1440 924.704' fill='%23fe9d4f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.Background2 {
  width: 100%;
  background-size: cover;

  .about {
    h1 {
      font-size: 3.2rem;
      text-align: center;
      margin-bottom: 2rem;
      color: darkorange;
    }
  }
}
